body {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  background: purple;
}

header {
  background-color: #222;
  color: white;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
